[submodule "backend"]
	path = backend
	url = https://github.com/tranverse/realtime-chat-server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/tranverse/realtime-chat-client.git
